@import './common';
@import './base/reset-styles';
@import './base/base-styles';
@import './utils/vars';
@import './utils/visually-hidden';
@import './components/mobile-menu';
@import './components/button';
@import './components/header';
@import './components/hero';
@import './components/product';
@import './components/about';
@import './components/reviews';
@import './components/contacts';
@import './components/footer';

// Styles Modal

@import './components/modal/buy-modal';
@import './components/modal/location-modal';
@import './components/modal/modal-ingredients';
@import './components/modal/modal-product';
@import './components/modal/product-card';
