// TEXT
$main: #131313;
$second: #fcfcfc;
$third: #ababab;
$third-tablet: #907e82;

//TABLET
$btn: #000000;

// BACKGROUND
$background: #84a178;
$background-accent: #aec6a5;
$card-bground: #9cbe8f;
$card-bground-second: #efd478;

// ACCENT
$accent: #f8d24e; //248 210  78
$accent-second: #d6936d;
$accent-footer: #7a7a7a;
$line: #e1e1e1;
$dots: #d9d9d9;
$shadow: #997217;

// BTN
$btn-accent: #0a8817;

// MODAL
$modal: #d5753f;
$modal-second: #96af8c;
$background-color: rgba(132, 161, 120, 1);
$basic-yellow: rgba(248, 210, 78, 1);
$basic-white: rgba(252, 252, 252, 1);
$basic-black: rgba(19, 19, 19, 1);
$button-text-weight: 600;
$secondary-text-weight: 700;
$contacts-text-weight: 500;
$description-font-size: 16px;
