<div class="backdrop is-hidden">
  <div class="product-modal">
    <!-- кнопка закрытия модалки -->
    <button class="btn product-modal__close-btn">
      <svg
        class="product-modal__close-btn__icon close-icon"
        width="20"
        height="20"
      >
        <use href="/src/images/buy-modal/close.svg#icon-close"></use>
      </svg>
    </button>
    <!-- заголовок -->
    <h2 class="title product-modal__title">Buy now</h2>
    <form class="product-modal__checkbox-form">
      <!-- чекбоксы -->
      <ul class="list product-modal__checkbox-form__list">
        <li class="product-modal__checkbox-form__item">
          <div
            class="product-modal__checkbox-form__bg-circle bg-circle__green"
          ></div>
          <img
            class="product-modal__checkbox-form__img"
            srcset="
              ./images/buy-modal/img1.png    1x,
              ./images/buy-modal/img1-2x.png 2x
            "
            src="./images/buy-modal/img1.png"
            alt=""
            width="132"
            height="132"
          />
          <input
            class="product-modal__checkbox-form__checkbox checkbox"
            type="checkbox"
            name="product"
            value="ice cream"
          />
          <div class="product-modal__checkbox-form__bgc">
            <p class="product-modal__checkbox-form__text">ice cream</p>
          </div>
        </li>
        <li class="product-modal__checkbox-form__item">
          <div
            class="product-modal__checkbox-form__bg-circle bg-circle__yellow"
          ></div>
          <img
            class="product-modal__checkbox-form__img"
            srcset="
              ./images/buy-modal/img2.png    1x,
              ./images/buy-modal/img2-2x.png 2x
            "
            src="./images/buy-modal/img2.png"
            alt=""
            width="132"
            height="132"
          />

          <input
            class="product-modal__checkbox-form__checkbox checkbox"
            type="checkbox"
            name="product"
            value="ice coffee"
          />
          <div class="product-modal__checkbox-form__bgc bgc__yellow bgc">
            <p class="product-modal__checkbox-form__text">ice coffee</p>
          </div>
        </li>
        <li class="product-modal__checkbox-form__item">
          <div
            class="product-modal__checkbox-form__bg-circle bg-circle__brown"
          ></div>
          <img
            class="product-modal__checkbox-form__img"
            srcset="
              ./images/buy-modal/img3.png    1x,
              ./images/buy-modal/img3-2x.png 2x
            "
            src="./images/buy-modal/img3.png"
            alt=""
            width="132"
            height="132"
          />

          <input
            class="product-modal__checkbox-form__checkbox checkbox"
            type="checkbox"
            name="product"
            value="milkshake"
          />
          <div class="product-modal__checkbox-form__bgc bgc__brown bgc">
            <p class="product-modal__checkbox-form__text">milkshake</p>
          </div>
        </li>
      </ul>
      <!-- поля -->
      <div class="product-modal__form">
        <div class="product-modal__form__field">
          <input
            class="product-modal__form__input"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Name must be two words separated by space."
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required
          />
        </div>
        <div class="product-modal__form__field">
          <input
            class="product-modal__form__input"
            pattern="[0-9]{10,10}"
            title="Enter your phone in the format (XXX)XXX-XX-XX, where x should be a number"
            type="tel"
            name="tel"
            id="tel"
            placeholder="Phone"
            required
          />
        </div>
        <textarea
          class="product-modal__form__textarea"
          name="Comment"
          id="Comment"
          rows="6"
          placeholder="Comment"
        ></textarea>
      </div>
      <!-- кнопка -->
      <button class="btn product-modal__btn" type="submit">Submit</button>
    </form>
  </div>
</div>
