<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts-list">
      <li class="contacts-item">
        <p class="contacts-title">CAFE</p>
        <p class="contacts-text">Chicago</p>
        <a href="https://goo.gl/maps/Zp8k5jLy7nZj55Dv8" class="contacts-link"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >

        <p class="contacts-day">Monday - Friday</p>
        <time datetime="06:00" class="contacts-time">06:00 AM - 10:00 PM</time>

        <p class="contacts-day">Saturday - Sunday</p>
        <time datetime="08:00" class="contacts-hour">08:00 AM - 16:00 PM</time>

        <a href="tel:+61(0)383766284" class="contacts-phone"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts-mail"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-item">
        <p class="contacts-title">FOOD TRUCK</p>
        <p class="contacts-text">Los Angeles</p>
        <a href="https://goo.gl/maps/8sLGPZBwRN9Vqs698" class="contacts-link"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >

        <p class="contacts-day">Monday - Friday</p>
        <time datetime="06:00" class="contacts-time">06:00 AM - 10:00 PM</time>

        <p class="contacts-day">Saturday - Sunday</p>
        <time datetime="08:00" class="contacts-hour">08:00 AM - 16:00 PM</time>

        <a href="tel:+61(0)383766284" class="contacts-phone"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts-mail"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-item">
        <p class="contacts-title">CAFE</p>
        <p class="contacts-text">New York</p>
        <a href="https://goo.gl/maps/ethrocHoZuV9swtQA" class="contacts-link"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >

        <p class="contacts-day">Monday - Friday</p>
        <time datetime="06:00" class="contacts-time">06:00 AM - 10:00 PM</time>

        <p class="contacts-day">Saturday - Sunday</p>
        <time datetime="08:00" class="contacts-hour">08:00 AM - 16:00 PM</time>

        <a href="tel:+61(0)383766284" class="contacts-phone"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts-mail"
          >noreply@envato.com</a
        >
      </li>
    </ul>

    <ul>
      <li>
        <button class="button__locations" type="button">Our Locations</button>
      </li>
      <li>
        <button class="button__franhise" type="button">Franchise</button>
      </li>
    </ul>
  </div>
</section>
