<header class="header">
  <div class="container">
    <a href="/" class="header__logo"> </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Our products</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
      </ul>

      <button
        class="menu__toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </nav>

    <button class="button__buy js-open-modal" data-modal="2">Buy now</button>
    <div class="overlay js-overlay-modal"></div>
  </div>
</header>
