<section class="section product">
  <div class="contasiner product__container">
    <p class="product__label">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="list product__card-set">
      <li class="item product__card-set__item">
        <div class="product__card-set__circle circle__green"></div>
        <h3 class="product__card-set__title">ice cream</h3>
        <p class="product__card-set__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <!-- кнопка открытия модалки -->
        <button class="product__card-set__btn">
          <svg class="product__card-set__btn__icon" width="40" height="16">
            <use href="./images/icon-sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="item product__card-set__item item__yellow">
        <div class="product__card-set__circle circle__yellow"></div>
        <h3 class="product__card-set__title">ice coffee</h3>
        <p class="product__card-set__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <!-- кнопка открытия модалки -->
        <button class="product__card-set__btn">
          <svg class="product__card-set__btn__icon" width="40" height="16">
            <use href="./images/icon-sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="item product__card-set__item item__brown">
        <div class="product__card-set__circle circle__brown"></div>
        <h3 class="product__card-set__title">milkshakes</h3>
        <p class="product__card-set__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <!-- кнопка открытия модалки -->
        <button class="product__card-set__btn">
          <svg class="product__card-set__btn__icon" width="40" height="16">
            <use href="./images/icon-sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
