<section class="section product">
  <div class="contasiner product__container">
    <p class="product__label">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="list product__card-set">
      <li class="item product__card-set__item">
        <img
          class="product__card-set__img"
          srcset="
          ./images/product/img1-mobile_tablet.png 280w,
          ./images/product/img1-mobile_tablet.png 330w,
          ./images/product/img1-desctop.png 491,
          ./images/product/img1-mobile_tablet-2x.png 560w,
          ./images/product/img1-mobile_tablet-2x.png 660w,
          ./images/product/img1-desctop-2x.png 982w
          "
          src="./images/product/img1-mobile_tablet.png"
          alt="ice cream"
          width="200"
        />
        <div class="product__card-set__circle circle__green"></div>
        <h3 class="product__card-set__title">ice cream</h3>
        <p class="product__card-set__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <!-- кнопка открытия модалки -->

        
        <button class="product__card-set__btn js-open-modal" data-modal="1">
          <svg class="product__card-set__btn__icon" width="40" height="16">
            <use href="./images/product/icon-sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="item product__card-set__item item__yellow">
        <img
          class="product__card-set__img"
          srcset="
          ./images/product/img2-mobile_tablet.png 280w,
          ./images/product/img2-mobile_tablet.png 330w,
          ./images/product/img2-desctop.png 491,
          ./images/product/img2-mobile_tablet-2x.png 560w,
          ./images/product/img2-mobile_tablet-2x.png 660w,
          ./images/product/img2-desctop-2x.png 982w
          "
          src="./images/product/img2-mobile_tablet.png"
          alt="ice coffee"
          width="200"
        />

        <div class="product__card-set__circle circle__yellow"></div>
        <h3 class="product__card-set__title">ice coffee</h3>
        <p class="product__card-set__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <!-- кнопка открытия модалки -->
        <button class="product__card-set__btn">
          <svg class="product__card-set__btn__icon" width="40" height="16">
            <use href="./images/product/icon-sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="item product__card-set__item item__brown">
        <img
          class="product__card-set__img"
          srcset="
          ./images/product/img3-mobile_tablet.png 280w,
          ./images/product/img3-mobile_tablet.png 330w,
          ./images/product/img3-desctop.png 491,
          ./images/product/img3-mobile_tablet-2x.png 560w,
          ./images/product/img3-mobile_tablet-2x.png 660w,
          ./images/product/img3-desctop-2x.png 982w
          "
          src="./images/product/img3-mobile_tablet.png"
          alt="milkshakes"
          width="200"
        />

        <div class="product__card-set__circle circle__brown"></div>
        <h3 class="product__card-set__title">milkshakes</h3>
        <p class="product__card-set__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <!-- кнопка открытия модалки -->
        <button class="product__card-set__btn">
          <svg class="product__card-set__btn__icon" width="40" height="16">
            <use href="./images/product/icon-sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
