.about {
  background-color: $background;
  color: $second;

  & .container {
    padding-top: 60px;
    padding-bottom: 50px;
    @media screen and (min-width: 768px) {
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 45px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: calc(27 / 22);
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__how {
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: calc(38 / 30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 72px;
      font-size: 34px;
      line-height: calc(43 / 34);
      letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}
.about__container-flex {
  position: relative;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 38px;
  }

  @media screen and (min-width: 1200px) {
    gap: 109px;
  }
}
.about__img-box {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 280px;
  background-color: rgba($accent, 0.7);

  border-radius: 50%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 491px;
    height: 491px;
    margin-bottom: 0;
  }
}
.about__img {
  position: absolute;
  top: 4.5%;
  width: 280px;
  height: 280px;
  @media screen and (min-width: 768px) {
    top: 7%;
    width: 330px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    top: 7.2%;
    width: 491px;
    height: 491px;
  }
}

.about__container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    text-align: start;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 105px;
    justify-content: center;
  }
}

.about__text {
  font-size: 12px;
  line-height: calc(21 / 12);
  letter-spacing: 0.04em;
}
.about__text--textone {
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}
.about__text--texttwo {
  font-size: 12px;
  line-height: calc(19 / 12);
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    line-height: calc(21 / 12);
    margin-bottom: 8px;
  }
}
.about__text--textthree {
  @media screen and (max-width: 767px) {
    display: none;
  }

  line-height: calc(23 / 12);
  margin-bottom: 32px;
}

.about__btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 12px 34px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  border-radius: 10px;
  &:link {
    color: $btn;
    background-color: $accent;
  }
  &:hover {
    color: $btn;
    background-color: $btn-accent;
  }
  &:active {
    color: $second;
    background-color: $btn-accent;
  }
  &:visited {
    color: $btn;
    background-color: $third;
  }
}
