.about {
  background-color: $background;
  color: $second;

  & .container {
    padding-top: 60px;
    padding-bottom: 50px;
    @media screen and (min-width: 768px) {
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 45px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: calc(27 / 22);
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__how {
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: calc(38 / 30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 72px;
      font-size: 34px;
      line-height: calc(43 / 34);
      letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}
.about__container-flex {
  position: relative;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 38px;
  }

  @media screen and (min-width: 1200px) {
    gap: 109px;
  }
}
.about__img-box {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 280px;

  margin-bottom: 60px;
  background: linear-gradient(0deg, rgba($accent, 0.7), rgba($accent, 0.7)),
    $dots;
  box-shadow: 0px 4.48583px 16.8218px rgba($shadow, 0.25);
  border-radius: 140px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    background: linear-gradient(0deg, rgba($accent, 0.7), rgba($accent, 0.7)),
      $dots;
    box-shadow: 0px 5.30813px 19.9055px rgba($shadow, 0.25);
    border-radius: 165px;
    width: 330px;
    height: 330px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient(0deg, rgba($accent, 0.7), rgba($accent, 0.7)),
      $dots;
    box-shadow: 0px 8px 30px rgba($shadow, 0.25);
    border-radius: 250px;
    width: 491px;
    height: 491px;
    margin-bottom: 0;
  }
}
.about__img {
  position: absolute;
  top: 4.5%;
  width: 280px;
  height: 280px;
  @media screen and (min-width: 768px) {
    top: 7%;
    width: 330px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    top: 7.2%;
    width: 491px;
    height: 491px;
  }
}

.about__container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    text-align: start;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 105px;
    justify-content: center;
  }
}

.about__text {
  font-size: 12px;
  line-height: calc(21 / 12);
  letter-spacing: 0.04em;
}
.about__text--textone {
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}
.about__text--texttwo {
  font-size: 12px;
  line-height: calc(19 / 12);
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    line-height: calc(21 / 12);
    margin-bottom: 8px;
  }
}
.about__text--textthree {
  @media screen and (max-width: 767px) {
    display: none;
  }

  line-height: calc(23 / 12);
  margin-bottom: 32px;
}

//
