.about__title {
  font-style: normal;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
    letter-spacing: 0.04em;
  }
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.about__how {
  font-family: 'Seymour One';
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
    font-size: 34px;
    line-height: calc(43 / 34);
    letter-spacing: 0.06em;
  }

  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.about__text {
  font-size: 12px;
  line-height: calc(21 / 12);
  letter-spacing: 0.04em;
}
.about__text1 {
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}
.about__text2 {
  font-size: 12px;
  line-height: calc(19 / 12);
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    line-height: calc(21 / 12);
    margin-bottom: 8px;
  }
}
.about__text3 {
  @media screen and (max-width: 767px) {
    display: none;
  }

  line-height: calc(23 / 12);
  margin-bottom: 32px;
}

.about__img {
  max-width: 290px;
  @media screen and (min-width: 768px) {
    max-width: 330px;
  }
}

.about__img-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.about__btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 12px 34px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  border-radius: 10px;
  cursor: pointer;
}
.about__btn:link {
  color: #000;
  background-color: #f8d24e;
}
.about__btn:hover {
  color: #000;
  background-color: #0a8817;
}
.about__btn:active {
  color: #fcfcfc;
  background-color: #0a8817;
}
.about__btn:visited {
  color: #000;
  background-color: #ababab;
}
