.button__product {
  display: block;
  padding: 11px 0;
  width: 108px;
  height: 42px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  border: 2px solid $accent;
  border-radius: 10px;
  background-color: initial;
  color: $btn;

  &:hover {
    border-color: #0a8817;
  }

  &:focus {
    border-color: #0a8817;
    color: #fff;
  }

  &--disabled {
    border-color: #ababab;
  }

  @media screen and (min-width: 1200px) {
    padding: 12px 0;
    width: 134px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.button__more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 164px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  background: $accent;
  border-radius: 10px;
  border: 1px solid $accent;
  color: $btn;

  &:hover {
    background-color: #0a8817;
    border-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    border-color: #0a8817;
    color: #fff;
    fill: #fff;
  }

  &--disabled {
    border-color: $third;
    background-color: $third;
  }
}

.button__made {
  display: block;
  width: 106px;
  height: 42px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  text-decoration-line: underline;
  color: $accent;
  background-color: initial;
  border: none;

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: #fff;
  }

  &--disabled {
    color: $third;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(17 / 14);
    width: 115px;
  }
}

.button__locations {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 164px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  background: $accent;
  border-radius: 10px;
  border: 1px solid $accent;
  color: $btn;

  &:hover {
    background-color: #0a8817;
    border-color: #0a8817;
  }

  &:focus {
    color: #fff;
    fill: #fff;
  }

  &--disabled {
    color: $third;
  }
}

.button__franhise {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 164px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  background: initial;
  border-radius: 10px;
  border: 2px solid $accent;
  color: $btn;

  &:hover {
    background-color: #0a8817;
    border-color: #0a8817;
  }

  &:focus {
    color: #fff;
    fill: #fff;
  }

  &--disabled {
    color: $third;
  }
}

.button__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 164px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  background: $accent;
  border-radius: 10px;
  border: 1px solid $accent;
  color: #000000;

  &:hover {
    background-color: #0a8817;
    border-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    border-color: #0a8817;
    color: #fff;
    fill: #fff;
  }

  &--disabled {
    border-color: $third;
    background-color: $third;
  }
}
