.product {
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 767px) {
      box-sizing: border-box;
      width: 320;
      margin-left: auto;
      margin-right: auto;
      padding-right: 20px;
      padding-left: 20px;
    }
    @media screen and (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;

      width: 768px;
      padding-right: 32px;
      padding-left: 32px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: auto;
      margin-right: auto;

      width: 1200px;
      padding-right: 16px;
      padding-left: 16px;
    }
    outline: 1px solid red;
    background-image: url(../images/product/bg/Bg-mobile.jpg);
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/product/bg/Bg-mobile-2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/product/bg/Bg-tablet.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/product/bg/Bg-tablet-2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/product/bg/Bg-desktop.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/product/bg/Bg-desktop-2x.jpg);
      }
    }
  }
  &__label {
    margin-bottom: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;

    font-size: 18px;
    line-height: 1.22;

    text-align: center;
    text-transform: uppercase;
    color: #131313;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.23;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.23;
    }
  }
  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
    @media screen and (max-width: 767px) {
      margin-bottom: 148px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 200px;
      font-size: 34px;
      line-height: 1.26;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 303px;
      font-size: 36px;
      line-height: 1.25;
    }
  }
  &__card-set {
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 767px) {
    }

    @media screen and (min-width: 768px) {
      display: flex;
    }
    &__item {
      position: relative;
      display: inline-block;

      border-radius: 24px;
      background-color: #aec6a5;
      @media screen and (max-width: 767px) {
        // display: inline-block;
        padding-top: 123px;
        padding-left: 40px;
        padding-right: 40px;
        width: 280px;
        height: 420px;
      }
      @media screen and (min-width: 768px) {
        padding-top: 108px;
        padding-left: 26px;
        padding-right: 26px;

        width: 224px;
        height: 428px;
      }
      @media screen and (min-width: 1200px) {
        padding-top: 165px;
        padding-left: 64px;
        padding-right: 64px;

        width: 370px;
        height: 536px;
      }

      &:not(:last-child) {
        @media screen and (max-width: 767px) {
          margin-bottom: 168px;
        }
        @media screen and (min-width: 768px) {
          margin-right: 16px;
        }
        @media screen and (min-width: 1200px) {
          margin-right: 29px;
        }
      }
    }
    &__img {
      z-index: 2;
      position: absolute;
      @media screen and (max-width: 767px) {
        left: 40px;
        top: -108px;
      }
      @media screen and (min-width: 768px) {
        left: 12px;
        top: -120px;
      }

      @media screen and (min-width: 1200px) {
        left: 34px;
        top: -183px;
        width: 302px;
        height: 302px;
      }
    }
    &__circle {
      position: absolute;
      width: 200px;
      height: 200px;

      border-radius: 50%;
      @media screen and (max-width: 767px) {
        left: 40px;
        top: -97px;
      }
      @media screen and (min-width: 768px) {
        left: 12px;
        top: -108px;
      }

      @media screen and (min-width: 1200px) {
        left: 34px;
        top: -167px;

        width: 302px;
        height: 302px;
      }
    }
    &__title {
      margin-bottom: 40px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #131313;
      @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.227;
      }
      @media screen and (min-width: 1200px) {
        margin-bottom: 66px;

        font-size: 30px;
        line-height: 1.23;
      }
    }
    &__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 176%;
      text-align: center;
      letter-spacing: 0.04em;

      color: #131313;
      @media screen and (min-width: 1200px) {
        font-size: 16px;
      }
    }
    &__btn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 767px) {
        bottom: 16px;
      }
      @media screen and (min-width: 768px) {
        bottom: 12px;
      }
      @media screen and (min-width: 1200px) {
        bottom: 60px;
      }

      outline: none;
      border: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color: transparent;
    }
  }
}
// item bg color
.item {
  &__yellow {
    background-color: #efd478;
  }
  &__brown {
    background-color: #d6936d;
  }
}
// circle color
.circle {
  &__green {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  }
  &__yellow {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  }
  &__brown {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  }
}
