.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  overflow-y: auto;
  padding: 28px 20px;
  min-width: 280px;
  height: 968px;
  background-color: $basic-white;
  border: 2px solid $basic-yellow;
  border-radius: 10px;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  transition: box-shadowLL;
}

.close-btn-icon {
  width: 11px;
  height: 11px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: $basic-black;
  font-family: 'Seymour One';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.modal-img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.modal-img-card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  width: 132px;
  height: 132px;
}

.modal-img-card::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: 7px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-shift-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal-shift-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 8px;
  text-align: center;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-shift-text {
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 1.2;

  color: #131313;
}

.modal-shift-inside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 43px;
  height: 43px;
  background-color: $background-color;
  border: 2px solid $background-color;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.modal-shift-value {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;

  color: $basic-black;
}

.modal-text {
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  color: $basic-black;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 40px;
}

.ingredients-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredients-text {
  justify-self: baseline;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;

  color: $basic-black;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  margin-bottom: 16px;
  padding: 11px;
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $background-color;
  border-radius: 10px;
}

.modal-form-input::placeholder {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.4;
  color: $basic-black;
}

/* .modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.modal-form-comment {
  display: block;
  margin-bottom: 24px;
  padding: 11px;
  width: 100%;
  height: 84px;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $background-color;
  border-radius: 10px;
}

/* .modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
} */

.modal-form-comment::placeholder {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.4;
  color: $basic-black;
}

.modal-form-submit {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 34px;
  width: 132px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: $basic-black;
  background-color: $basic-yellow;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    padding: 32px 40px;
  }

  .modal-close-btn {
    width: 24px;
    height: 24px;
  }

  .close-btn-icon {
    width: 13px;
    height: 13px;
  }

  .modal-shift-list {
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
  }

  .modal-shift-item {
    padding-bottom: 14px;
    width: 65px;
    height: 90px;
  }

  .modal-shift-text {
    font-size: 12px;
    line-height: 1.25;
  }

  .modal-shift-inside {
    width: 53px;
    height: 53px;
  }

  .modal-shift-value {
    font-size: 12px;
    line-height: 2.33;
  }

  .modal-form {
    align-items: center;
  }

  .modal-form-input {
    padding-left: 16px;
    width: 368px;
  }

  .modal-form-comment {
    display: block;
    margin-bottom: 32px;
    padding-left: 16px;
    width: 368px;
  }

  .modal-form-submit {
    width: 121px;
  }
}
